@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none !important;
}

.ck-content {
    min-height: 400px;
}

@media only screen and (max-width: 900px) {
    .selected-image {
        height: 350px;
    }

    .carousel__image {
        height: 50px;
        min-width: 50px;
    }
}

.animate__fadeinfast {
    animation-duration: 1ms;
    animation-name: fadeinfast;
}

@keyframes fadeinfast {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate__fadeoutfast {
    animation-duration: 1ms;
    animation-name: fadeoutfast;
}

@keyframes fadeoutfast {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
